@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    header {
        display: block;
        justify-content: space-evenly;
    }

    .links-div {
        width: 70px;
        /* background-color: gray; */
        height: 60px;
        margin-left: 77%;
        margin-top: -16%;
        top: 0;
        position: relative;
        padding-top: 1px;
    }

    .login-div {
        display: none;
    }

    .login-btn {
        width: 50px;
        height: 20px;
        font-size: 14px;
    }


    .menu-toggle {
        display: block;
        margin-top: 15px;
    }

    .nav-links {
        position: absolute;
        top: 55px;
        right: -400%;
        /* Hidden by default */
        flex-direction: column;
        background: var(--blue-crayola);
        width: 200px;
        padding: 1rem;
        height: 100vh;
        transition: right 0.3s ease;
        z-index: 100;
    }

    .nav-links.active {
        right: -20px;
        /* Slide in */
    }


    .data-section {
        margin-top: 35%;
        width: 100%;
        flex-direction: column;
    }

    .logo-div img {
        width: 130px;
    }

    .logo-div {
        margin-left: 1%;
    }

    .data {
        width: 100%;

        span {
            font-size: 30px;
        }

        p {
            width: 300px;
            height: auto;
            font-size: 15px;
            margin-bottom: 25px;
        }
    }

    .img-data-div {
        width: 100%;
    }

    .img-data {
        width: 400px;
        margin-left: -20%;
        margin-top: 10%;
        height: 700px;
    }

    .coin-section-title {
        width: 100%;
        margin-top: 130%;

        span {
            font-size: 35px;
        }

        p {
            padding-inline: 30px;
        }
    }

    .coin-section {
        margin-top: 30%;
    }

    .card {
        width: 80%;
    }

    .section-about {
        padding-top: 50px;
        padding-left: 3%;
        margin: auto;

        p {
            font-size: 15px;
            padding-inline: 10px;
        }
    }

    .about-span {
        font-size: 45px;
    }

    .about-span-2 {
        font-size: 35px;
        padding-inline: 5px;
    }



    .btc-img {
        display: none;
    }

    .sub-text {
        padding: 1px;
        margin: auto;
    }

    .uni {
        width: 300px;
        margin-left: -6%;
        height: 240px;
    }

    .card-section {
        margin-top: 10%;
    }

    .about-flex {
        height: auto;
    }

    .coin-card {
        font-size: 20px;
        font-weight: 800;
    }

    .card-data-div {
        width: 100%;

        p {
            font-size: 18px;
            margin-bottom: 10%;
        }
    }

    .card-data {
        font-size: 35px;
        width: 100%;
    }

    .card-data-2 {
        font-size: 35px;
    }

    .card-img {
        width: 450px;
        height: 230px;
        margin-left: -2%;
        /* margin: auto; */
    }

    .card-img-div {
        margin-top: -40%;
        margin-left: -14%;
    }

    .price {
        font-size: 1.2rem;
    }

    .coin-name {
        font-size: 1.2rem;
    }

    .curved-panel {
        width: 70%;
        margin-top: 4%;
    }

    .make {
        font-size: 40px;
    }

    .invite-section {
        height: 300px;
    }

    .invite-section .container {
        width: 100%;

        p {
            padding-inline: 50px;
            font-size: 18px;
        }
    }

    .card-btn {
        padding: 17px;
        margin-top: 5%;
    }


    .footer-section {
        height: auto;
    }

    .footer-links {
        margin-top: -10%;
        margin-bottom: 20%;
        margin-left: 3%;
    }

    .copyright {
        font-size: 12px;
        margin-left: 3%;
    }

    .company iframe {
        width: 300px;
        height: 400px;
        margin-left: -10%;
    }

    .global {
        width: 300px;
        height: 250px;
        margin-left: -5%;
    }
}





@media (min-width: 378px) and (max-width: 400px) {

    .section-about {

        p {
            padding-inline: 20px;
            margin-left: -5%;
            margin-bottom: 20px;
        }
    }


    .card-section {

        .card-data {
            padding-inline: 10px;
        }
    }
}






@media (min-width: 400px) and (max-width: 500px) {
    .links-div {
        margin-top: -12%;
    }

    .nav-links {
        right: -100vh;
    }

    .img-data {
        width: 100%;
        height: 700px;
    }

    .coin-section-title {
        margin-top: 120%;
    }

    .about-span-2 {
        font-size: 33px;
    }

    .section-about {

        p {
            padding-inline: 50px;
            margin-left: -10%;
        }
    }



    .card-data-div {

        .card-data {
            padding-inline: 2px;
        }

        p {
            padding-inline: 5px;
            margin-bottom: 10%;
            font-size: 15px;
        }

    }


    .company iframe {
        width: 400px;
    }

    .footer-links {
        margin-left: 15%;
    }

    .card-img {
        width: 450px;
        height: 250px;
        /* margin: auto; */
    }

}






@media (min-width: 440px) and (max-width: 500px) {}