@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }





    /* HEADER */

    header {
        display: block;
        justify-content: space-evenly;
    }

    .links-div {
        width: 70px;
        /* background-color: gray; */
        height: 60px;
        margin-left: 77%;
        margin-top: -16%;
        top: 0;
        position: relative;
        padding-top: 1px;
    }

    .login-btn {
        width: 50px;
        height: 20px;
        font-size: 14px;
    }


    .menu-toggle {
        display: block;
        margin-top: 15px;
    }

    .nav-links {
        position: absolute;
        top: 50px;
        right: -400%;
        /* Hidden by default */
        flex-direction: column;
        background: var(--blue-crayola);
        width: 200px;
        padding: 1rem;
        height: 100vh;
        transition: right 0.3s ease;
        z-index: 100;
    }

    .nav-links.active {
        right: -22px;
        /* Slide in */
    }




    .login-div {
        display: none;
    }









    /* DATA SECTION */

    .data-container {
        width: 100%;
        margin-top: 30%;
    }

    .data-container span {
        font-size: 30px;
    }

    .data-container p {
        font-size: 15px;
    }



    /* TESTIMONY SECTION */

    .testimony-section {
        height: 700px;
        padding-top: 80px;
    }


    .testimony-container div {
        height: 180px;
        margin-top: 10px;
    }

    .testimony-container div p {
        font-size: 15px;
    }






    /* CHART TITLE */

    .chart-title {
        width: 80%;
    }

    .chart-title span {
        font-size: 30px;
        padding-inline: 15px;
    }

    .chart-title p {
        font-size: 15px;
    }

    .tradingview-widget-container {
        overflow-x: auto;
        /* padding-block-end: 30px; */
        scroll-behavior: smooth;
    }



    /* ABOUT SECTION */
    .about-container {
        width: 80%;
    }

    .about-section {
        margin-top: 150%;
        margin-bottom: 50%;
    }




    /* HYPE SECTION */
    .hype-section {
        margin-top: 20%;
        height: auto;
        padding-bottom: 50px;
    }

    .hype-section .container {
        width: 80%;
        text-align: center;
    }

    .hype-section .container div {
        height: 150px;
        padding: 10px;
    }

    .container .hype-wrapper {
        height: 800px-;
    }

    .hype-section .container span {
        font-size: 30px;
    }

    .hype-section .container p {
        font-size: 15px;
    }





    /* CEO SECTION */
    .ceo-container {
        width: 100%;
        flex-wrap: wrap;

    }

    .ceo-mission-div {
        width: 80%;
        padding-top: 5%;
        height: 380px;


        span {
            font-size: 15px;
        }
    }

    .img-div {
        width: 100%;
        padding-left: 4%;
    }




    /* JOIN SECTION */
    .join-section {
        margin-top: 100%;
        height: 300px;
    }

    .join {
        font-size: 40px;
    }

    .join-section .container {
        width: 80%;
    }

    .container p {
        font-size: 15px;
    }

    .register-btn {
        padding: 20px 20px;
    }






    /* FOOTER SECTION */
    .footer-section {
        height: 750px;
    }

    .company iframe {
        width: 300px;
        height: 400px;
        margin-left: -10%;
    }


    .copyright {
        font-size: 12px;
        margin-left: 3%;
    }
}



@media (min-width: 440px) {
    .links-div {
        margin-top: -12%;
    }


}


@media (max-width: 400px) {
    .about-section {
        margin-bottom: 100%;
    }
}